.top
  .header
    MeMote
    .herder__menu-box
  .main
    .main__blocks
      .main__blocks__block
        あいうえお
      .main__blocks__block
        あいうえお
      .main__blocks__block
        あいうえお
      .main__blocks__block
        あいうえお
      .main__blocks__block
        あいうえお
      .main__blocks__block
        あいうえお
      .main__blocks__block
        あいうえお
      .main__blocks__block
        あいうえお
      .main__blocks__block
        あいうえお
      .main__blocks__block
        あいうえお
      .main__blocks__block
        あいうえお
      .main__blocks__block
        あいうえお
  .footer